* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app button {
  font-size: 24px;
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
}

.app p {
  font-size: 24px;
  margin: 20px 0;
}

.app span {
  font-size: 24px;
  margin: 20px 0;
  color: red;
}

.app input {
  font-size: 24px;
  padding: 5px 10px;
  display: block;
  margin: 10px 0;
}
